<!DOCTYPE html>
<html>
    <head>
            <title>
                <%=locals.title %>
            </title>
    </head>
    <body>
        <h3>
            Contact List
        </h3>
        <div>
        <ul>
            <% for (let i of locals.contact_list ){ %>
                <li>
                   <p><%= i.name %></p>
                   <p><%= i.phone %></p>
                </li>

                <% } %>
       
        </ul>
    </div>
</html>